.tags {
  display:  flex;
  align-items: center;
  gap: 2rem;
}

.tag {
  display: flex;
  width: 6.125rem;
  height: 2.5rem;
  background-color: #1E1E1E;
  border-radius: 999px;
  align-items: center; 
  justify-content: center; 
  margin-top: 2rem;
  gap: .5rem;
}

.tag span {
  font: var(--text-md);
  color: var(--gray-500);
}